// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/*
 * Stub: the coresight nodes are not needed to boot.
 * TODO: port waipio-coresight.dtsi from the OPlus 5.10 vendor source.
 */
